In [500]:
# Importamos nuestras librerias
import pandas as pd
import numpy as np
import plotly.express as px

In [501]:
# Leemos lod dataset
df_us2022 = pd.read_csv('us2022q2a.csv')
df_usfirms2022 = pd.read_csv('usfirms2022.csv')

In [502]:
df_us2022

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.761670,104.0000,452000.000,NaN,2000.0,1.0
1,A,2000q2,2485000.0,1261000.0,1.010000e+06,0.0,42000.000000,0.000,90000.0,7321000.000,2679000.000,512000.000,0.000,4642000.000,45.215607,73.7500,452271.967,6.0,2000.0,2.0
2,A,2000q3,2670000.0,1369000.0,1.091000e+06,0.0,28000.000000,0.000,83000.0,7827000.000,2925000.000,528000.000,0.000,4902000.000,30.003238,48.9375,453014.579,9.0,2000.0,3.0
3,A,2000q4,3372000.0,1732000.0,1.182000e+06,0.0,10000.000000,0.000,163000.0,8425000.000,3160000.000,830000.000,0.000,5265000.000,33.566841,54.7500,456366.381,12.0,2000.0,4.0
4,A,2001q1,2841000.0,1449000.0,1.113000e+06,0.0,-6000.000000,0.000,119000.0,9208000.000,3667000.000,556000.000,0.000,5541000.000,18.840347,30.7300,456769.737,3.0,2001.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324442,ZYNE,2021q3,0.0,0.0,1.021065e+04,0.0,-376.636750,-5.038,0.0,89996.170,11309.171,207.635,411.237,78686.999,4.240000,4.2400,41251.537,9.0,2021.0,3.0
324443,ZYNE,2021q4,0.0,0.0,8.836436e+03,0.0,16.937906,-4.433,0.0,81171.507,10258.173,209.068,353.694,70913.334,2.880000,2.8800,41217.537,12.0,2021.0,4.0
324444,ZYNE,2022q1,0.0,0.0,8.903915e+03,0.0,317.252110,-96.044,0.0,74381.029,9214.059,210.512,295.754,65166.970,2.050000,2.0500,42447.037,3.0,2022.0,1.0
324445,ZYNE,2022q2,0.0,0.0,9.168770e+03,0.0,-775.927860,-91.691,0.0,67006.959,9765.086,211.965,237.414,57241.873,1.140000,1.1400,43595.959,6.0,2022.0,2.0
324446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [503]:
df_usfirms2022

,Ticker,Name,N,Class,Country\nof Origin,Type of Asset,Sector NAICS\nlevel 1,Exchange / Src,Sector\nEconomatica,Sector NAICS\nlast available,partind
0,FLWS,1 800 Flowers Com Inc,1,Com A,US,Stock,Retail Trade,NASDAQ,Trade,Retail Trade,-
1,TXG,"10x Genomics, Inc",2,Com A,US,Stock,Manufacturing,NASDAQ,Electric Electron,"Navigational, Measuring, Electromedical, and C...",-
2,GOED,1847 Goedeker Inc,3,Com,US,Stock,Retail Trade,AMEX,Trade,Furniture and Home Furnishings Stores,-
3,ONEM,"1life Healthcare, Inc",4,Com,US,Stock,Health Care and Social Assistance,NASDAQ,Other,Offices of Physicians,-
4,SRCE,1st Source Corp,5,Com,US,Stock,Finance and Insurance,NASDAQ,Finance and Insurance,Depository Credit Intermediation,-
...,...,...,...,...,...,...,...,...,...,...,...
3603,ZUO,"Zuora, Inc",3604,Com A,US,Stock,Information,NYSE,Software & Data,Software Publishers,-
3604,ZWS,Zurn Elkay Water Solutions Corp,3605,Com,US,Stock,Manufacturing,NYSE,Industrial Machin,Other General Purpose Machinery Manufacturing,-
3605,ZY,Zymergen Inc,3606,Com,US,Stock,"Professional, Scientific, and Technical Services",NASDAQ,Other,Scientific Research and Development Services,-
3606,ZYNE,"Zynerba Pharmaceuticals, Inc",3607,Com,US,Stock,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
3607,ZNGA,Zynga Inc,3608,Com A,US,Stock,Information,NASDAQ,Software & Data,"Data Processing, Hosting, and Related Services",-

Para poder trabajar mejor cone el dataset vamos a unir los dos dataset en uno mismo.

In [504]:
df = df_us2022.merge(df_usfirms2022, left_on = 'firm', right_on = 'Ticker')

In [505]:
df

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,Name,N,Class,Country\nof Origin,Type of Asset,Sector NAICS\nlevel 1,Exchange / Src,Sector\nEconomatica,Sector NAICS\nlast available,partind
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
1,A,2000q2,2485000.0,1261000.0,1.010000e+06,0.0,42000.000000,0.000,90000.0,7321000.000,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
2,A,2000q3,2670000.0,1369000.0,1.091000e+06,0.0,28000.000000,0.000,83000.0,7827000.000,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
3,A,2000q4,3372000.0,1732000.0,1.182000e+06,0.0,10000.000000,0.000,163000.0,8425000.000,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
4,A,2001q1,2841000.0,1449000.0,1.113000e+06,0.0,-6000.000000,0.000,119000.0,9208000.000,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9.838494e+03,0.0,-117.528220,-5.943,0.0,98195.904,...,"Zynerba Pharmaceuticals, Inc",3607,Com,US,Stock,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
323812,ZYNE,2021q3,0.0,0.0,1.021065e+04,0.0,-376.636750,-5.038,0.0,89996.170,...,"Zynerba Pharmaceuticals, Inc",3607,Com,US,Stock,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
323813,ZYNE,2021q4,0.0,0.0,8.836436e+03,0.0,16.937906,-4.433,0.0,81171.507,...,"Zynerba Pharmaceuticals, Inc",3607,Com,US,Stock,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
323814,ZYNE,2022q1,0.0,0.0,8.903915e+03,0.0,317.252110,-96.044,0.0,74381.029,...,"Zynerba Pharmaceuticals, Inc",3607,Com,US,Stock,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
323815,ZYNE,2022q2,0.0,0.0,9.168770e+03,0.0,-775.927860,-91.691,0.0,67006.959,...,"Zynerba Pharmaceuticals, Inc",3607,Com,US,Stock,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-

Ahora ya que solo queremos los datos del ultimo cuatri, eliminaremos todos los datos restantes.

In [506]:
df_cuar = df['q'] == '2022q1'
df_el = df[df_cuar]

Siguendo con nuestra limpieza de datos ahora eliminaremos algunas columnas que no nos seran de ayuda a la hora de querer sacar
los calculos.

In [507]:
df_el = df_el.drop(['Ticker', 'Name', 'partind', 'Sector NAICS\nlast available', 'Sector\nEconomatica', 'Class', 'Exchange / Src', 'extraincome', 'shortdebt', 'stockholderequity', 'longdebt'], axis = 1)

In [508]:
df_el['R'] = np.log(df.groupby(['firm'])['adjprice'].shift(-1)) - np.log(df.groupby(['firm'])['adjprice'].shift(3))

Realizamos los calculos para OPM, EPSP y Book to Market.

In [509]:
df_el['Book'] = df_el['totalassets'] - df_el['totalliabilities']
df_el['Market'] = df_el['originalprice'] * df_el['sharesoutstanding']
df_el['Book_Market'] = df_el['Book'] / df_el['Market']
df_el['EBIT'] = df_el['revenue'] - df_el['cogs'] - df_el['sgae'] - df_el['otheropexp']
df_el['NetIncome'] = df_el['EBIT'] - df_el['incometax'] - df_el['finexp']
df_el['EPS'] = df_el['NetIncome'] / df_el['sharesoutstanding']
df_el['OPM'] = df_el['EBIT'] / df_el['revenue']
df_el['EPSP'] = df_el['EPS'] / df_el['originalprice']

Continuando vamos a eliminar todos los valores nulos de las variarables mencionadas anteriormente.

In [510]:
df_r = df_el['R'] >= -5

Iniciaremos con la variable OPM.

In [511]:
df_opm = df_el['OPM'] >= -5

Continuamos con la variable EPSP.

In [512]:
df_epsp = df_el['EPSP'] >= -5

Por último, la variable de Book to Market.

In [513]:
df_book_market = df_el['Book_Market'] >= -5

Ahora asignaremos los dummys para poder obtner las empresas.

In [514]:
df_cl = df_el.sort_values(by = 'Market')

In [515]:

df_cl["Small"] = df_cl.index <= len(df_cl) / 3
df_cl["Small"].astype(int)

74641     0
162284    0
282689    0
93181     0
265950    0
         ..
299244    0
299334    0
308874    0
309054    0
319944    0
Name: Small, Length: 3600, dtype: int32

In [516]:
df_cl["Medium"] = (df_cl.index <= (2 * len(df_cl) / 3)) & (df_cl.index > (len(df_cl) / 3))
df_cl["Medium"].astype(int)

74641     0
162284    0
282689    0
93181     0
265950    0
         ..
299244    0
299334    0
308874    0
309054    0
319944    0
Name: Medium, Length: 3600, dtype: int32

Para poder iniciar con nuestra matriz de varianza y covariana vamos a separar nuestras variables en x y y.

In [517]:
x = df_cl[['OPM', 'EPSP', 'Book_Market', 'Small', 'Medium']]
y = df_cl['R']

Seguimos paso por paso la formula para sacar la matriz de varianza y covarianza.

In [518]:
var_cor = x.to_numpy()
z = np.transpose(var_cor)
u = np.zeros((z.shape[1], 1)) + 1
m = np.dot(z, var_cor)
n = np.dot(z, u)
t = np.transpose(n)
p = np.dot(n, t)
q = p / var_cor.shape[0]
l = m - q
matriz = l / (var_cor.shape[0] - 1)
pd.DataFrame(matriz)
x.cov()

                      OPM      EPSP  Book_Market     Small    Medium
OPM          24531.813398  0.701580     2.137269  0.037059 -0.067187
EPSP             0.701580  0.011918    -0.005073  0.000030 -0.000045
Book_Market      2.137269 -0.005073     0.353975  0.000375  0.000242
Small            0.037059  0.000030     0.000375  0.003599 -0.000013
Medium          -0.067187 -0.000045     0.000242 -0.000013  0.003599

Para ahora obtener la matriz de correlaciones, de igual manera siguiendo la formula paso a paso.

In [519]:
b = np.diagonal(matriz)
stan = np.sqrt(b)
n = [[ 0 for y in range( len(stan) ) ] for x in range( len(stan) )]
for i in range(len(stan)):
  for j in range(len(stan)):
    n[i][j] = stan[i] * stan[j]
correlation = [[ 0 for y in range( len(n) ) ] for x in range( len(n) )]
for i in range(len(n)):
  for j in range(len(n)):
    correlation[i][j] = matriz[i][j] / n[i][j]
x.corr()

TypeError: loop of ufunc does not support argument 0 of type float which has no callable sqrt method